
body{
  font-family: 'Montserrat', sans-serif;
  color: #333;
}
.container{
  max-width: 64rem;
  margin: 0 auto;
}
@media(max-width: 64em){
  .container{
    max-width: 100%;
    padding: 0.625rem;
  }
   
}
.dotted {
  margin-left: 1.25rem;
}
.dotted li{
  padding-left: 0.9375rem;
  background: url("check.svg") 0 0.4375rem no-repeat;
  line-height: 140%; /* 28/20 */
}
.dotted-dark li{
  background: url("check-dark.svg") 0 0.4375rem no-repeat;
}
.dotted-certificate li{
  padding-left: 1.5625rem;
  line-height: 200%;

  background: url("certificate.svg") 0 0.4375rem no-repeat;
}
.dotted-dark a{
  color: #31507F;
}
.dotted_small li{
  padding-left: 0.9375rem;
  background: url("circle1.svg") 0 0.4375rem no-repeat;
  line-height: 140%; 
}
h3{
  font-size: 1.5625rem;
  text-transform: uppercase;
  font-weight: 500;
  border-bottom: 0.125rem solid #222;
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
}
a:hover{
  text-decoration: underline;
}